body{
  font-family: 'Poppins', sans-serif;
  background-color: #ddd8d8;
}

.first-header{
  text-align: center;
}

#container{
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  background-color: blue;
  width: 322px;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  padding: 50px;
  border-radius: 10px;
}

#input{
  padding: 10px;
  width: 300px;
  outline: none;
  border-radius: 7px;
  border-width: 0.1px;
}

#button-div{
  display: flex;
  justify-content: center;
}

#register{
  background-color: #008000;
  color: white;
  border: none;
  padding: 10px;
  width: 90px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#register:hover{
  opacity: 0.6;
  background-color: white;
  color: blue;
}

#register:active{
  opacity: 0.8;
  background-color: white;
  color: blue;
}

#show-password{
  font-size: 14px;
}

#password-div{
  display: flex;
  margin-top: 5px;
}
