body{
  font-family: 'poppins', sans-serif;
}

#header{
  text-align: center;
}

#container{
  background-color: blue;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 8px;
  border-radius: 8px;
}

#button{
  padding: 7px 15px 7px 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

#button-container{
  margin-top: 10px;
}

.input{
  padding: 10px;
  width: 300px;
  outline: none;
  border-radius: 7px;
  border-width: 1px;
}

#check{
  cursor: pointer;
}